<h1>Log In Below:</h1>

<form action="/sessions" method="POST">

    <p><input placeholder="name" type="text" name="email"></p>
    <p><input placeholder="password" type="password" name="password"></p>
    <p><input type="submit" value="Log In"></p>

</form>