<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
    <label>Name: <input type="text" name="name"></label></br>

    <label>E-Mail: <input type="email" name="email"></label></br>

    <label>Password: <input type="password" name="password"></label></br>

    <p>*All Fields Are Required</p>
    <input type="submit" value="Sign Up">
</form>
