<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
    <p>Your Name: <input type="text" name="name"></p>
    <p>Your Email: <input type="text" email="email"></p>
    <p>Your Password: <input type="text" password="password"></p>
    <input type="submit" value="Sign Up">
</form>

