<form action="/registrations" method="POST">

    <p><input placeholder="name" type="text" name="name"></p>
    <p><input placeholder="email" type="text" name="email"></p>
    <p><input placeholder="password" type="password" name="password"></p>
    <p><input type="submit" value="Sign Up"></p>
</form>