<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<label for="Name">Name:</label>
<input type="text" id="name" name="name"><br>
<label for="Email">Email:</label>
<input type="text" id="email" name="email"><br>
<label for="Password">Password:</label>
<input type="text" id="password" name="password"><br>
<input type="submit" id="submit" value="Sign Up">
</form>


